html {
	font-family: Arial;
}

a {
	color: black;
	text-decoration: none
}

header {
	border-bottom: 1px solid black;
	padding-bottom: 6px;
}

footer {
	background-color: black;
}

footer a {
	color: white;
}

.main {
	background-color: #eeeeee;
	padding-left: 46px;
	padding-right: 46px;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.clear:after {
	content:"";
	display: block;
	clear: both;
}

.logo {
	margin-left: 46px;
}

.center {
	position: relative;
	left: -30%;
}
.center_child {
	position: relative;
	left: 30%;
}

.category {
	padding: 20px 20px;
}

.search {
	margin-right: 46px;
}

.search input {
	margin-top: 20px;
	background-image: url("../images/img_search.png");
}

.search input:focus {
	background-image: none;
}

.button {
	color: white;
	background-color: black;
	padding: 10px 10px;
	margin-right: 20px;
	border-radius: 3px;
}

.button:hover {
	background-color: #404040;
}

.button:active {
	background-color: #7F7F7F;
}

.main_advertisement {
	background-image: url("../images/img_advertisement1.png");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 12% 0% 12% 2%;
	margin-bottom: 10px;
}

.commodity {
	width: 32%;
	background-color: #dddddd;
	padding: 5% 0% 2% 0%;
	margin-bottom: 10px;
}

.commodity img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.commodity p {
	margin-top: 3%;
	text-align: center;
}

.commodity_margin {
	margin-right: 2%;
}

.advertisement img {
    width:50%;  
}

.advertisement .content{
	width: 50%;
	background-color: #dddddd;
	padding: 6.6% 0% 6.6% 0%;
	text-align: center;
}

.detail {
	width: 17%;
	padding-left: 8%;
}

.detail a {
	color: #333333;
}

.detail img {
	margin-top: 5%;
}

.information {
	width: 17%;
	padding-left: 8%;
	margin: 20px 0px;
}

.gray {
	color: #999999;
}

.web_icon {
	margin: 30px 40px 0px 0px;
}