html {
	background-color: #EDF2C5;
}

.container {
	max-width: 940px;
	max-height: 1260px;
	margin-left: auto;
	margin-right: auto;
}

.clear:after {
	content:"";
	display: block;
	clear: both;
}

header h1 {
	height: 42px;
	width: 271px;
	font-family: Arial Black;
	font-size: 3em;
	color: #778A50;
	float: left;
}

header table {
	line-height:10px;
	margin-top: 58px;
	float: right;
}

.divider-right {
	padding-left: 4px;
	padding-right :10px;
	border-right:1px solid #778A50;
}

.divider-bottom {
	padding-bottom: 16px;
	border-bottom: 1px solid #7D7D7D;
}

.login {
	width: 60px;
	height: 25px;
	margin-left: 10px;
	margin-right: 10px;
}

.join {
	width: 50px;
	height: 25px;
}

.box {
	float: right;
	margin-top: 60px;
	border: 1px solid #778A50;
	border-radius: 3px;
	font-family: Arial;
	font-weight: bold;
	font-size: 14px;
	line-height:25px;
	text-align: center;
	color: #778A50;
}

.main table {
	background-color: #778A50;
	font-family: Arial Black;
	font-size: 16px;
	color: #EDF2C5;
}

.normal {
	padding: 16px 30px;
}

.extend {
	padding: 16px 308px 16px 30px;
}

#pumpkin {
	padding-top: 20px;
	padding-bottom: 30px;
	width: 100%;
}

#vegetables {
	width: 445px;
	float: left;
	margin-bottom: 35px;
}

#vegetables h3 {
	border-radius: 3px;
	padding:15px 30px;
	margin-bottom: 15px;
	background-color: #778A50;
	font-family: Arial Black;
	font-size: 16px;
	color: #EDF2C5;
}

.picturePaddingRight {
	padding-right: 8px;
}
#contact {
	width: 445px;
	float: right;
	margin-bottom: 35px;
}

#contact h3 {
	border-radius: 3px;
	padding:17px 30px 16px 30px;
	margin-bottom: 15px;
	background-color: #778A50;
	font-family: Arial Black;
	font-size: 16px;
	color: #EDF2C5;
}

#contact .content {
	height: 130px;
	border-radius: 3px;
	padding: 3px 15px;
	background-color: #F7FBDA;
	color: #7D7D7D;
	font-size: 12px;
	font-family: Arial;
	line-height: 1.33;
}

footer {
	padding: 24px 479px 25px 479px;
	background-color: #778A50;
	color: #EDF2C5;
	font-family: Arial;
	font-size: 12px;
	text-align: center;
}